@page "/fetchdata"
@using Gruppe11.Data
@using Gruppe11.Models
@using Gruppe11.Data.Services

@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits OwningComponentBase<WeatherForecastService>

<h1>Weather forecast</h1>
<hr />

<AuthorizeView Context="AVcontext">
    <Authorized>
        <h3>Recorded by @AVcontext.User.Identity?.Name!</h3>
        <br />
        @if (forecasts == null)
        {
            <div class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Temperatur (C)</th>
                        <th>Kommentar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in forecasts)
                    {
                        <tr>
                            <td>@forecast.Dato?.ToString("yyyy-MM-dd")</td>
                            <td>@forecast.Temperatur</td>
                            <td>@forecast.Kommentar</td>
                            <td>
                                <button class="btn btn-primary" @onclick="(() => EditForecast(forecast))">
                                    Edit
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <p>
                <button class="btn btn-success" @onclick="AddNewForecast">
                    Add New Forecast
                </button>
            </p>

            @if (ShowPopup)
            {
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">@tittel</h3>
                                <button type="button" class="close" @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <EditForm Model="objWeatherForecast" Context="Editcontext" OnValidSubmit="SaveForecast">
                                    <DataAnnotationsValidator />
                                    <div class="form-group">
                                        <label for="Tempratur">Temperatur</label>
                                        <div>
                                            <InputNumber class="form-control" @bind-Value="objWeatherForecast.Temperatur" id="Temperatur"></InputNumber>
                                            <ValidationMessage For="@(()=>objWeatherForecast.Temperatur)" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Kommentar">Kommentar</label>
                                        <div>
                                            <InputText class="form-control" @bind-Value="objWeatherForecast.Kommentar" id="Kommentar"></InputText>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Dato">Dato</label>
                                        <div>
                                            <InputDate class="form-control" @bind-Value="objWeatherForecast.Dato" id="Dato"></InputDate>
                                            <ValidationMessage For="@(()=>objWeatherForecast.Dato)" />
                                        </div>
                                    </div>
                                    <div class="p-1">
                                        <button class="btn btn-success" type="submit"> 
                                            Save 
                                        </button>&nbsp;
                                    </div>
                                </EditForm>

                                <br />

                                @if (objWeatherForecast.Id > 0)
                                {
                                    <button type="submit" class="btn btn-danger" @onclick="DeleteForecast">
                                        Delete
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    List<VærMelding> forecasts = new List<VærMelding>();

    private string UserIdentityName = "";
    private string tittel = "";

    protected override async Task OnInitializedAsync()
    {
        // Hent brukernavn 
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                UserIdentityName = user.Identity.Name ?? "";
            }
        }

        forecasts = await @Service.GetForecastAsync(UserIdentityName);
    }

    VærMelding objWeatherForecast = new VærMelding();
    bool ShowPopup = false;

    void ClosePopup()
    {
        ShowPopup = false;
    }

    void AddNewForecast()
    {
        tittel = "Add new Forcast";

        objWeatherForecast = new VærMelding();
        objWeatherForecast.Id = 0;
        
        ShowPopup = true;
    }

    async Task SaveForecast()
    {
        ShowPopup = false;

        if (objWeatherForecast.Id == 0)
        {
            // Legger inn værdata
            VærMelding objNewWeatherForecast = new VærMelding();
            objNewWeatherForecast.Dato = objWeatherForecast.Dato;
            objNewWeatherForecast.Kommentar = objWeatherForecast.Kommentar;
            objNewWeatherForecast.Temperatur = Convert.ToInt32(objWeatherForecast.Temperatur);
            objNewWeatherForecast.Bruker = UserIdentityName;

            // Lagrer værdata
            var result = @Service.CreateForecastAsync(objNewWeatherForecast);
        }
        else
        {
            bool oppdatert = await @Service.UpdateForecastAsync(objWeatherForecast);
        }

        forecasts = await @Service.GetForecastAsync(UserIdentityName);
    }

    void EditForecast(VærMelding værMelding)
    {
        tittel = "Edit Forcast";
        objWeatherForecast = værMelding;
        ShowPopup = true;
    }

    async Task DeleteForecast()
    {
        ShowPopup = false;

        var result = @Service.DeleteForecastAsync(objWeatherForecast);
        forecasts = await @Service.GetForecastAsync(UserIdentityName);
    }
}